<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Filter</h3>
    </div>
    <div class="panel-body">

      <%= render "boilerman/controllers/controller_filter" %>
      <%= render "boilerman/controllers/action_filter" %>
      <%= render "filters_filter" %>

      <button onclick="clearLocalFilters()" class="btn btn-warning pull-right">Clear Filters</button>
    </div>
  </div>

</div>


<div class="row">
  <table id="controller_action_table" class="table table-bordered table-condensed">
    <thead>
      <th>Controller</th>
      <th>Actions</th>
      <th>Filters</th>
    </thead>
    <tbody>
      <% @action_filter_hash.each do |controller, actions| %>
        <tr>

          <% filter_count = actions.map{|_, filters| filters.empty? ? 1 : filters}.flatten.count %>

          <td rowspan="<%= filter_count %>"><%= controller %></td>
          <% actions.each_with_index do |(action, filters),index| %>

            <% if index == 0 %>
              <td rowspan="<%= filters.count %>"><%= action %></td>
              <% filters.each_with_index do |filter, index| %>
                <% if index == 0 %>
                  <td colspan="1"><%= filter %></td>
                <% else %>
                  <tr>
                    <td colspan="1"><%= filter %></td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr colspan="2">
                <td rowspan="<%= filters.count %>"><%= action %></td>

                <% filters.each_with_index do |filter, index| %>
                <% if index == 0 %>
                  <td colspan="1"><%= filter %></td>
                <% else %>
                  <tr>
                    <td colspan="1"><%= filter %></td>
                  </tr>
                <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
